<table class="table">
    <tr>
        <td width="64" style="border: 0px;"><img src="{{ user.avatar(64) }}"></td>
        <td style="border: 0px;">
            <p>
                <a href="{{ url_for('main.user', username=user.username) }}">{{ user.username }}</a>
            </p>
            <small>
                {% if user.about_me %}
                    <p>
                        {{ user.about_me }}
                    </p>
                {% endif %}
                {% if user.last_seen %}
                    <p>
                        {{ _('Last seen on') }}: {{ moment(user.last_seen).format('lll') }}
                    </p>
                {% endif %}
                <p>
                    {{ _('%(count)d followers', count=user.followers.count()) }},
                    {{ _('%(count)d following', count=user.followed.count()) }}
                </p>
                {% if user != current_user %}
                    {% if not current_user.is_following(user) %}
                        <p>
                            <form action="{{ url_for('main.follow', username=user.username) }}" method="POST">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value=_('Follow'), class_='btn btn-default btn-sm') }}
                            </form>
                        </p>
                    {% else %}
                        <p>
                            <form action="{{ url_for('main.unfollow', username=user.username) }}" method="POST">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value=_('Unfollow'), class_='btn btn-default btn-sm') }}
                            </form>
                        </p>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>
